@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.swiper {
  margin: 1rem;
  width: 80%;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  display: flex;
  text-align: center;
  font-size: 18px;
  background: #fff !important;
  color: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.swiper-slide #eventoname {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 14px;
}
.swiper-slide h3 {
  margin: auto;
  text-align: center;
  color: #434244;
  border-radius: 14px;
  padding: 4px;
  font-size: 0.9rem;
  font-family: Josefin Sans;
}
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  background-color: #434244;
  color: #fff;
  border-radius: 3rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-button-next::after {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434244;
  color: #fff;
  border-radius: 3rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  margin-left: 3px;
}
.swiper-button-prev::after {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434244;
  color: #fff;
  border-radius: 3rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  margin-right: 3px;
}
#swiperslide {
  margin: 0;
  flex-wrap: nowrap;
  padding: 0;
  object-fit: contain;
}
.mainCarr {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  width: 100%;
}
.swiper {
  flex-grow: 3;
  width: 80vw;
}
.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  flex-wrap: wrap;
  margin: 3rem;
}
.Hero h2 {
  color: #434244;
  font-family: Lexend Deca;
  font-size: 2.8rem;
  font-weight: 800;
  flex-wrap: wrap !important;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media (min-width: 620px) and (max-width: 850px) {
  .Hero h2 {
    color: #434244;
    font-family: Lexend Deca;
    font-size: 2.4rem;
    font-weight: 800;
    flex-wrap: wrap !important;
    text-align: center;
  }
}
@media (min-width: 400px) and (max-width: 620px) {
  .Hero h2 {
    color: #434244;
    font-family: Lexend Deca;
    font-size: 1.7rem;
    font-weight: 800;
    flex-wrap: wrap !important;
    text-align: center;
  }
}
@media (min-width: 240px) and (max-width: 400px) {
  .Hero h2 {
    color: #434244;
    font-family: Lexend Deca;
    font-size: 1.3rem;
    font-weight: 800;
    flex-wrap: wrap !important;
    text-align: center;
  }
}
.swiper-slide img {
  width: 72%;
  height: 74%;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
