.containerComments{
    z-index: 1;
}
.CommentContainer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin: 1rem auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.CommentHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: .5rem 1rem;
    width: 100%;
    border-bottom: 1px solid  #43424452;
    background-image: url('https://i.redd.it/wegb9ulmx3r81.jpg');
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  
}
.CommentHeader>h6{    
    padding-left: 1rem;
    margin: auto 0;
    color: #fff;
    text-shadow: 1px 1px 2px  #43424452 ;
}
.CommentBody{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: .5rem;
    width: 90%;
    margin: 0 auto;
}
.deleteButton{
color:#53beec;
}
.editButton{
    color:#53beec;
}
.inputModify{
    background-color: #53beec;
    color: #fff;
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    padding: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}
.inputModify::selection{
background-color: #fff;
color: #53beec;
border-color:#fff;
border: none;
}
.inputModify::after{
    border: none;
}
.CommentBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttonConfirm{
    border-radius: 10px;
    border:none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #53beec;
    color: #fff;
    padding:.5rem 1rem;
    margin-right: .5rem;
}
.buttonCancel{
    border-radius: 10px;
    border:none;
    padding:.5rem 1rem;
    margin: auto;
    background-color: #53beec;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
}
.cancelIcon{
    font-size: 1rem!important;
    margin: auto 0!important;
    margin-right:1rem ;
    color: #fff;
}
.confirmButtonLapiz{
    font-size: 1.3rem!important;
    margin: auto 0!important;
    color: #fff;
}
.buttons{
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}
.avatar{
    width:3.5rem!important;
    height: 3.5rem!important;
}
.textComments{
    text-align: center;
    align-self: center;
    align-content: center;
    font-weight: 600;
    color: #53beec;
    width: 100%;
}
.comment{
    margin: auto;
}
.addComment{
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* input container */
.inputComment{
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    height: 3rem;
    width: 95%;
    margin:.5rem auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.SendOutlinedIcon{
    color:  #53beec;
    align-self: center;
    margin-right: .5rem;
    height: 2rem;
    width: 2rem;
}
.SendOutlinedIcon:hover{
    color:  #439ec5;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.082);
    padding: .2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor:pointer;
}
.inputText{
    padding: 1rem;
    width: 90%;
    border-color:#53beec;
    color: #53beec;
}
.inputText::selection{
    color: #fff;
    border-color: #53beec;
}
.inputText:focus{
    border-color: #53beec!important;
    outline: none;
}
.ChatOutlinedIcon{
    color:  #53beec;
}
.ChatOutlinedIconPadre{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: .5rem;
}