.container-detalle {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col-principal {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: calc(-10vh - 1rem);
  background-size: cover;
}
.container-texto {
  width: 80%;
  margin: auto;
  text-align: center;
  align-self: center;
  align-content: center;
}
.description {
  color: #fff !important;
}
.city {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(#53beec, #fff);
  position: relative;
  background-clip: text;
  line-height: normal;
}
.btc {
  margin: auto;
  border: #53beec 1px solid;
  color: #fff;
  background-color: #53beec;
  border-radius: 10px !important;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  margin-top: .5rem;
  margin-bottom: 1rem;
  margin: auto;
}
.row-title{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    align-items: center;
}
.earth{
    width: 3rem;
    margin-left: .8rem;
}
.btc:hover {
  text-decoration: none;
  color: #fff;
}
.background {
  position: relative;
  z-index: -1000;
  height: 100%;
}
.texto-nohay {
  height: 70vh;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  backdrop-filter: blur(4px);
  color: #fff!important;
  border-radius: 1rem;
  padding: 0.1rem;
  line-height: 0.9rem;
  text-align: center;
  margin: auto;
  width: 40vw;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.section-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  width: 100%;
  flex-wrap: wrap;
  backdrop-filter: blur(10px);
}
.section-details_images{
  width: 11rem;  
  height: 11rem;
}
.flag {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}
.country-card{
  background:linear-gradient(135deg, #DFEC51 0%,#73AA0A 100%);
}
.language-card{
  background:linear-gradient(135deg, #f2d50f 0%,#da0641 100%);
}
.currency-card{
  background:linear-gradient(135deg, #fcdf8a 0%,#f38381 100%);
}
.section-details_card{
  width: 15rem;
  height: 18rem;
  border-radius: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-cityDetail{
  font-family: 'Avenir Light';
  text-transform: uppercase;
  color: #fff ;
  text-align: center;
}