footer{
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #53beec;
}
footer p{
    text-align: center;
    color: #fff;
}
.Navv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Navv h4{
    margin-bottom: 1rem;
    font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff!important;
}
.ButtonAppBar{
    border-radius: 1rem;
    border: 1px solid;
    padding: .4rem;
    margin: .1rem 0;
    font-weight:400;
    font-family:  sans-serif;
    color:#fff ;
    font-size: .8rem;
    background-color: #53beec;
}
.Navv h4{
    color: #434345;
    font-size: 1.4rem;
    text-align: center;
    font-family: Helvetica;
    text-shadow: #43434563 1px 1px 1px;;
}
.Link{
    padding: .5rem 0;
}
.linea{
    border: 0;
    height: 1px;
    unicode-bidi: isolate;
    background-image: linear-gradient(to right, #fff, #fff, #fff);
    width: 50vw;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.part-uno{
    display: flex;
    flex-direction: column;
}
.upParraf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.upParraf>p{
text-align: center;
margin: auto 0;
}
.reactFooter{
    width: 3rem;
    margin-left: 1rem;
}