.searchfilter{
margin: 0 auto;
display: flex;
flex-direction:column;
justify-content: center;
width: 15rem;
text-align: center;
padding: 1rem;
}
.searchfilter input{
    border-radius: 1rem;
    padding: 0 1rem;
}
.searchfilter input[placeholder="Search..."]{
    text-align:center

}
.col-md-4{
    margin: 1rem 0;
    text-align: center;
}
.notFound{
    padding: 1rem;
    border-radius:100rem;
    width: 100%;
    height: 100%;
}
.filterName{
    background: linear-gradient(#53beec, #53beeca4);
    text-align: center;
  -webkit-background-clip: text;
  color: transparent; 
}